* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-33 {
  width: calc((100% / 3) - 22px);
  margin: 10px;
}


/* card */
.card {
  height: 100%;
  padding: 10px;
  border: 1px, solid, black;
  border-radius: 20px;
  background-color: black;
}

.card img {
  height: 500px;
  width: 100%
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
}

.card span {
  margin: 5px 0;
}